<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>items</key>
    <array>
        <dict>
            <key>assets</key>
            <array>
                <dict>
                    <key>kind</key>
                    <string>software-package</string>
                    <key>url</key>
                    <string><![CDATA[https://dl.xiaohe.mobi/uploads/64692976ce27382a798542f129d801e7.ipa]]></string>
                </dict>
            </array>
            <key>metadata</key>
            <dict>
                <key>bundle-identifier</key>
                <string>84c598f54045f03ac633d9cd40e1ec5f</string>
                <key>bundle-version</key>
                <string>2.0</string>
                <key>kind</key>
                <string>software</string>
                <key>title</key>
                <string>98彩票 C093</string>
            </dict>
        </dict>
    </array>
</dict>
</plist>
