<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>items</key>
    <array>
        <dict>
            <key>assets</key>
            <array>
                <dict>
                    <key>kind</key>
                    <string>software-package</string>
                    <key>url</key>
                    <string><![CDATA[https://xiaohe.ajj1771.com/uploads/b5a68b3e16c383f4e260dec07a736520.ipa]]></string>
                </dict>
            </array>
            <key>metadata</key>
            <dict>
                <key>bundle-identifier</key>
                <string>794ea31ab7c77b48bcb84c9681db808a</string>
                <key>bundle-version</key>
                <string>2.0</string>
                <key>kind</key>
                <string>software</string>
                <key>title</key>
                <string>凤凰娱乐 HA069</string>
            </dict>
        </dict>
    </array>
</dict>
</plist>
